.card {
    border: 2px solid;
    border-radius: 4px;
    /* margin: 20px; */
    /* min-height: 100px; */
    flex: 1 1 50%;
}

.card > blogQuote {
    /* margin: 5px;
    margin-top: 15px; */
}

.card > p {
    /* margin: 10px; */
}

article > h3 {
    /* border-bottom: 1px solid; */
}

main {
    flex-direction: column;
    height: calc(100vh - 18rem);
    gap: 1em;
    padding: 1rem;
    overflow-y: scroll;
    justify-content: flex-start;
}

footer {
    position: fixed;
    inset: 0;
    top: calc(100% - 12rem);
    border: black solid 1px;
    background-color: var(--light);
}